<%- include('header.html') -%>

<!-- MAIN CONTENT -->
<div id="content">

    <!--
   The ID "widget-grid" will start to initialize all widgets below
   You do not need to use widgets if you dont want to. Simply remove
   the <section></section> and you can use wells or panels instead
   -->

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row" style="not(.smart-style-6)">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <table id="jqgrid"></table>
                <div id="pjqgrid"></div>
            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- end content -->

<%- include('footer.html') -%>

<!-- PAGE RELATED PLUGIN(S) -->
<script src="javascripts/js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
<script src="javascripts/js/plugin/jqgrid/grid.locale-en.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        pageSetUp();

        jQuery("#jqgrid").jqGrid({
            url : "/company/list",
            mtype : "post",
            datatype : "json",
            height : 'auto',
            colNames : [ '회사명', '대표자명', '전화번호', '사업자번호', '주소', '팩스번호', '메모', '회사번호', '생성 날짜'],
            colModel : [ {
                name : 'cName',
                index : 'cName',
                editable : true,
                sortable : true
            }, {
                name : 'master',
                index : 'master',
                editable : true,
                sortable : true
            }, {
                name : 'cTel',
                index : 'cTel',
                editable : true,
                sortable : true
            }, {
                name : 'businessNum',
                index : 'businessNum',
                editable : true,
                sortable : true
            }, {
                name : 'cAddress',
                index : 'cAddress',
                editable : true,
                sortable : true
            }, {
                name : 'cFax',
                index : 'cFax',
                editable : true,
                sortable : true
            }, {
                name : 'cMemo',
                index : 'cMemo',
                editable : true,
                sortable : false
            }, {
                name : 'cID',
                index : 'cID',
                key : true,
                editable : true,
                sortable : false,
                hidden : true
            }, {
                name : 'cRegidate',
                index : 'cRegidate',
                align : "right",
                editable : false,
                sortable : true
            }],
            rowNum : 10,
            rowList : [10, 20, 30],
            pager : '#pjqgrid',
            sortname : 'cRegidate',
            toolbarfilter : true,
            viewrecords : true,
            sortorder : 'desc',
            emptyrecords : "데이터가 없습니다",
            gridComplete : function() {
                var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    var cl = ids[i];
                    be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
                    se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
                    ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                    //ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";
                    //jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:bFe+se+ce});
                    jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
                        act : be + se + ca
                    });
                }
            },
            editurl : "/company/edit",
            caption : "회사 정보",
            multiselect : false,
            autowidth : true,
            shrinkToFit: !isMobile(),
            autowidth : true,
            forceFit: true
        });
        jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid",
            {/*navGrid option*/
                edit : false, add : false, del : true,
            },
            {height:280,reloadAfterSubmit:true}, // edit options
            {height:280,reloadAfterSubmit:true}, // add options
            {
                reloadAfterSubmit:false,
                width:380,
                msg:"선택한 지점을 삭제합니다.<br>지점을 삭제하게 되면, 해당 지점의 관련 데이터는<br>전부 삭제되어 다신 조회할수 없게 됩니다.<br>신중히 삭제해주세요."
            }, // del options
            {
                sopt:['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge', 'ew', 'bw'],
                onSearch:function() {
                    //alert( $(".columns").find("option:selected").val() );	// 검색필드
                    //alert( $(".selectopts").find("option:selected").html() );	// 검색조건 타입
                    //alert( $("td.data").find(".input-elm").val() );	// 조건값
                }
            } // search options
        );
        jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid",{
            //addtext: "Add",
            //edittext: "Edit",
            //savetext: "Save",
            //canceltext: "Cancel",
            /*addParams: {
             position: "afterSelected",
             addRowParams: myEditOptions
             },*/
            addedrow: "first",
            editParams: editOption,
            addParams : {
                addRowParams:addOption
            },
            deleteParams : deleteOption
        });

        $("#jqgrid").jqGrid('navButtonAdd','#pjqgrid',{caption : "", title : "Excel 출력", buttonicon : 'fa-file-excel-o', onClickButton : function(e){
            $("#jqgrid").jqGrid('excelExport', {url : "/company/exportExcel"});
        }
        });

        /* Add tooltips */
        $('.navtable .ui-pg-button').tooltip({
            container : 'body'
        });

        // remove classes
        $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
        $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
        $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
        $(".ui-jqgrid-pager").removeClass("ui-state-default");
        $(".ui-jqgrid").removeClass("ui-widget-content");

        // add classes
        $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
        $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

        $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
        $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
        $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
        $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
        $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
        $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
        $(".ui-icon.fa-file-excel-o").removeClass().addClass("fa fa-file-excel-o");
        $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
        $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

        $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

        $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

        $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

        $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        $("#jqgrid_iladd div").click(function (event) {
            //selectCompanyBox();

            return true;
        });

    })

    $(window).on('resize.jqGrid', function() {
        $('.ui-jqgrid .ui-jqgrid-htable th').addClass('importantRule');
        $("#jqgrid").jqGrid('setGridWidth', $("#content").width());

    })

    var editOption = {
        keys: true,
        oneditfunc: function (rowid) {

        },
        aftersavefunc: function (rowid, response, options) {
            //alert("row with rowid=" + rowid + " is successfuly modified.");
            var json = JSON.parse(response.responseText);
            var data = json.data;

            if(data.changedRows > 0){
                successBox("회사 정보가 수정되었습니다.");
            }else if(data.affectedRows > 0){
                infoBox("변경 된 정보가 없습니다.");
            }else{
                errorBoxCallback("회사 정보를 수정하는데 문제가 있습니다.", function () {
                    $("#refresh_jqgrid").trigger("click");
                });
            }
        }
    };

    var addOption = {
        keys: true,
        oneditfunc: function (rowid) {
            //alert("row with rowid=" + rowid + " is editing.");
        },
        aftersavefunc: function (rowid, response, options) {
            //alert("row with rowid=" + rowid + " is successfuly modified.");
            var json = JSON.parse(response.responseText);
            var data = json.data;

            if(json.responseStatus==200 && data.affectedRows > 0 && data.generateKey != null){
                $("#" + rowid).find("td[aria-describedby='jqgrid_cID']").text(data.generateKey);
                successBox("회사가 추가되었습니다.");
            }else if(json.responseStatus==405){
                errorBoxCallback("회사명은 반드시 입력해주세요.", function () {
                    $("#refresh_jqgrid").trigger("click");
                });
            }else{
                errorBoxCallback("회사를 추가하는데 실패하였습니다.", function () {
                    $("#refresh_jqgrid").trigger("click");
                });
            }
        }
    };

    var deleteOption = {
        keys: true,
        oneditfunc: function (rowid) {

        },
        aftersavefunc: function (rowid, response, options) {
            //alert("row with rowid=" + rowid + " is successfuly modified.");
            alert(JSON.stringify(response));
        }
    };

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
